
@{
    Layout = null;
}
@using QX_Frame.Data.DTO;
@using Webdiyer.WebControls.Mvc;
@{
    PagedList<BookViewModel> bookList = Model as PagedList<BookViewModel>;
    var user = Session["uid"] == null ? 0 : 1;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>古籍列表</title>
    <link href="~/New/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/css/style.css" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/MvcPager.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <style>
        body {
            background: url(/New/images/geometry2.png) repeat;
        }
    </style>
</head>
<body>
    <div style="width: 70%; margin: 0 auto;padding-top: 30px;">
        @using (Ajax.BeginForm("List", "Article", new RouteValueDictionary { { "id", "" } },
                    new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "list", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" } }))
        {
            <div class="input-group">
                <select class="form-control float-lt" style="width: 30%;" name="categoryId">
                    <option value="0">全部</option>
                    <option value="1">书名</option>
                    <option value="2">作者</option>
                    <option value="3">出版者</option>
                    <option value="4">朝代</option>
                    <option value="5">其他名称</option>
                </select>
                <input type="text" class="form-control" name="title" style="width: 70%;">
                <a class="input-group-addon " onclick="Submit()"><i class="Hui-iconfont">&#xe665;</i></a>
            </div>
            <div class="col-sm-3 search" style="line-height:34px;">
                <a href="@Url.Action("MuchList", "Article")" style="color:indianred">多条件搜索</a>
            </div>
        }
        
        <div id="list">
            @{
                Html.RenderPartial("_PartList", bookList);
            }
        </div>
        
    </div>
    
</body>
</html>
